/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/scss/font-awesome.scss";
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    color: #514e4e;
   background-color: #e0e0e0;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.bold-text{
    font-weight: bold;
}
.alert-text{
     color:red;
}
.green-text{
    color:green;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
